body {
    margin: 0;
}

html {
    font-family: "Comic Sans MS", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 550px;
    background: linear-gradient(#7bc9fd, #e1fdff);
    color: #585454;
    position: relative;
}

header h1 {
    margin: 0;
}

.center {
    text-align: justify;
}

.center-title {
    text-align: center;
    margin-bottom: 40px;
}

.ocean {
    background: linear-gradient(#4fb9ff, #000000, #000000);
    margin-top: 50px;
    padding: 300px 80px 80px 80px;
    position: relative;
    color: ghostwhite;
}

.ocean p {
    font-size: 20px;
    line-height: 30px;
}

.ocean .waves {
    width: 100%;
    position: absolute;
    top: -200px;
    left: 0;
}

.global-info-ctnr {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: 300px;
}

.info-ctnr {
    display: flex;
    flex-direction: column;
    max-width: 37%;
}

.info-ctnr img {
    width: fit-content;
}

.info-ctnr img:nth-of-type(1) {
    margin: 0 auto;
}

.info-ctnr img:nth-of-type(2) {
    margin: 10px auto;
}

.info-ctnr .max {
    max-width: 100%;
}

.info-ctnr h2 {
    text-align: center;
}

.info-ctnr:nth-child(even) {
    align-self: end;
}

.info-ctnr p {
    text-align: justify;
}

.submarine {
    width: 100px;
    position: absolute;
    left: 46.5%;
    top: 3.5%;
}

.fixed-submarine {
    width: 100px;
    position: fixed;
    left: 46.5%;
    bottom: 23%;
}

.bottom-submarine {
    width: 100px;
    position: absolute;
    left: 46.5%;
    bottom: 2.5%;
}

.conclusion {
    margin-top: 100px;
    text-align: center;
}

.conclusion img {
    margin-top: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 100px;
    background-color: dimgrey;
}

footer ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: black;
}

footer ul li a:hover {
    color: aliceblue;
}

/******************/
/***** NUAGES *****/
/******************/

.cloud {
    width: 200px;
    height: 60px;
    background: #fff;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: absolute;
}

.cloud:before, .cloud:after {
    content: '';
    position: absolute;
    background: #fff;
    width: 100px;
    height: 80px;
    top: -15px;
    left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}


@-webkit-keyframes animateCloud {
    0% {
        margin-left: -700px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -700px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -700px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloud2 {
    0% {
        margin-left: -200px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud2 {
    0% {
        margin-left: -200px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud2 {
    0% {
        margin-left: -200px;
    }
    100% {
        margin-left: 100%;
    }
}

@-webkit-keyframes animateCloud3 {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud3 {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud3 {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

.x1 {
    -webkit-animation: animateCloud 60s linear infinite;
    -moz-animation: animateCloud 60s linear infinite;
    animation: animateCloud 60s linear infinite;
    top: 50px;

    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    transform: scale(0.60);
}

.x2 {
    -webkit-animation: animateCloud2 50s linear infinite;
    -moz-animation: animateCloud2 50s linear infinite;
    animation: animateCloud2 50s linear infinite;
    top: 100px;

    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    transform: scale(0.60);
}

.x3 {
    -webkit-animation: animateCloud3 65s linear infinite;
    -moz-animation: animateCloud3 65s linear infinite;
    animation: animateCloud3 65s linear infinite;
    top: 140px;

    -webkit-transform: scale(0.60);
    -moz-transform: scale(0.60);
    transform: scale(0.60);
}